<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rent A Bike - Login or Signup</title>
    <link rel="stylesheet" href="../static/css/ridingBike.css">
    <link rel="stylesheet" href="../static/css/tailwind.min.css">
    <link rel="stylesheet" href="../static/css/login1.css">
</head>

<body>
    <div class="main">
        <div class="lines">
        <div class="line-a"></div>
        <div class="line-b"></div>
        <div class="line-c"></div>
        <div class="line-d"></div>
      </div>
        <div class="bicy">
        <div class="heart"></div>
        <div class="dog">
          <div class="dog__ear">   </div>
          <div class="dog__head">  </div>
          <div class="dog__body"></div>
          <div class="dog__mouth-a"></div>
          <div class="dog__mouth-b"></div>
          <div class="dog__tongue"></div>
        </div>
        <div class="bicy__wheel-l">
          <div class="bicy__fender"></div>
        </div>
        <div class="bicy__wheel-r">
          <div class="bicy__fender"></div>
        </div>
        <div class="bicy__ac">
          <div class="bicy__ac-top"></div>
        </div>
        <div class="bicy__parts">
          <div class="bicy__part-a"></div>
          <div class="bicy__part-b"></div>
          <div class="bicy__part-c"></div>
          <div class="bicy__part-d"></div>
          <div class="bicy__part-e"></div>
          <div class="bicy__part-f"></div>
          <div class="bicy__part-g"></div>
        </div>
        <div class="bicy__basket">
          <div class="bicy__basket-a"></div>
        </div>
      </div>
        <div class="shadows">
        <div class="shadow-a"></div>
        <div class="shadow-b"></div>
        <div class="shadow-c"></div>
        <div class="shadow-d"></div>
      </div>
        <div class="human">
        <div class="human__c">
          <div class="human__head">
            <div class="human__neck"></div>
            <div class="human__face-a"></div>
            <div class="human__face-b"></div>
            <div class="human__nose"></div>
            <div class="human__hair"></div>
            <div class="human__cheek"></div>
            <div class="human__ear"></div>
            <div class="human__mouth"></div>
            <div class="human__eye"></div>
          </div>
          <div class="human__chest"></div>
          <div class="human__backpack"></div>
        </div>
        <div class="human__arm-r">
          <div class="human__arm-r-a"></div>
        </div>
        <div class="human__arm-l">
          <div class="human__arm-l-a"></div>
        </div>
        <div class="human__leg-r">
          <div class="human__leg-r-a"></div>
        </div>
        <div class="human__leg-l">
          <div class="human__leg-l-a"></div>
          <div class="human__leg-l-b"></div>
        </div>
      </div>
    </div>


<!--    <div class="max-w-screen-xl m-0 sm:m-20 bg-white shadow sm:rounded-lg flex justify-center flex-1">-->
    <div class="font-semibold" style="font-size:25px;position: absolute;top:30%;left:63.5%;"><p>BIKE RENTING SYSTEM</p></div>
    <div class="lg:w-1/2 xl:w-5/12 p-6 sm:p-12">
<!--    <div class="function">-->
        <form method="POST" action="/login" style="opacity: 0.9;background:#DBCFCAf0;width:300px;text-align:center;border-radius:10px;">
            <p><div class="font-semibold">USERNAME</div></p>
            <p><input type="text" name="username" class="form-control rounded-lg" placeholder="Username"></p>
            <p></p><style> p{ line-height:20px} </style> <p></p>
            <p><div class="font-semibold">PASSWORD</div></p>
            <p><input type="password" name="password" class="form-control rounded-lg" placeholder="Password"></p>
            <p><button class="mt-5 font-semibold justify-center" type="submit" style="background:#96CDCD;border-radius:6px">LOGIN</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="mt-5 font-semibold justify-center" style="background:#96CDCD;border-radius:6px"><a href="/register">REGISTER</a></button></p>
        </form>
    </div>
</body>

</html>
