<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GoRyder | Can't Own It? Rent It!</title>
        <link rel="stylesheet" href="app.css">
        <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7/css/font-awesome.min.css">
    </head>
    <body>
    
        <!--HeaderSection-->
        <div class="header_section">
            <div class="h_container">
                <div class="navigation_bar">
                    <div class="app_title">
                        <h1>GoRyder</h1>
                    </div>
                    <nav>
                        <ul id="menu_options">
                            <li><a href="home.html">Home</a></li>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="booking.html">Book A Trip</a></li>
                            <li><a href="userwallet.html">Your Wallet</a></li>
                            <li><a href="useraccount.html">Register/Log In</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        
        <!--UserAccountSection-->
        <div class="account_module">
            <div class="account_form_container">
                <div class="af_row1">
                    <div class="af_coloumn1">
                        <div class="af_panel">
                            <div class="af_panel_btn">
                                <span onclick="login()">Log In</span>
                                <span onclick="signUp()">Sign Up</span>
                                <hr id="indicator">
                            </div>
                            <form id="LoginForm">
                                <input type="text" placeholder="Username">
                                <input type="password" placeholder="Password">
                                <button type="submit" class="submit_btn">Log In</button>
                                <a href="">Forgot Password?</a>
                            </form>
                            <form id="SignUpForm">
                                <input type="text" placeholder="Username">
                                <input type="email" placeholder="Email">
                                <input type="password" placeholder="Password">
                                <button type="submit" class="submit_btn">Sign Up</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!--FooterSection-->
        <div class="footer_section">
            <div class="f_container">
                <div class="f_row1">
                    <div class="f_coloumn1">
                        <h2>Can't Own It? Rent It!</h2>
                        <p>Your ultimate partner for bike rentals</p>
                        <div class="f_icons">
                            <img src="Image Assets/img_orange_ryder_footer.png">
                            <img src="Image Assets/img_green_ryder_footer.png">
                        </div>
                    </div>
                    <div class="f_coloumn2">
                        <h1><center>GoRyder</center></h1>
                        <p>Let's start our journey together!<br>With our low rates and hassle free services, you can book a bike on the go - no hindrances, no complexities...</p>
                    </div>
                    <div class="f_coloumn3">
                        <h3>Quick Links</h3>
                        <ul>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="booking.html">Book A Trip</a></li>
                            <li><a href="userwallet.html">Your Wallet</a></li>
                            <li><a href="useraccount.html">Register/Log In</a></li>
                        </ul>
                    </div>
                    <div class="f_coloumn4">
                        <h3>Stay Connected</h3>
                        <ul>
                            <li>E-mail: queries@goryder.xyz</li>
                            <li>Phone: +00 1234567890</li>
                            <li>WhatsApp: +00 1234567890</li>
                            <li>Instagram: go_ryder</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <!--AccountFormToggle-->
        <script>
            var LoginForm = document.getElementById("LoginForm");
            var SignUpForm = document.getElementById("SignUpForm");
            var Indictor = document.getElementById("indicator");
            
            function signUp(){
                SignUpForm.style.transform = "translateX(0px)";
                LoginForm.style.transform = "translateX(0px)";
                Indicator.style.transform = "translateX(100px)";
            }
            
            function login(){
                SignUpForm.style.transform = "translateX(300px)";
                LoginForm.style.transform = "translateX(300px)";
                Indicator.style.transform = "translateX(0px)";
            };
        </script>
        
    </body>
</html>